<div ng-app="rockauth.login">
	<form name="userForm" ng-hide="vm.isAuthed()" novalidate ng-submit="loginform.$valid">

	    <div ng-messages="userForm.email.$error" ng-show="vm.validationShow">
	        <div ng-message="required">
	            Please enter your email address... 
	        </div>
	        <div ng-message="email">
	            Please enter a valid email address...
	        </div>
	    </div>

	    <div ng-messages="userForm.password.$error" ng-show="vm.validationShow">
	        <div ng-message="required">Please enter your password...</div>
	        <div ng-message="minlength">Password needs to be at least 8 characters</div>
	        <div ng-message="maxlength">Password needs to be shorter than 30 characters</div>
	    </div>
	    <input type="email" ng-model="vm.email" placeholder="email" name="email" type="email" required> {{vm.UsernameValidation}}{{vm.emailValidation}}<br>
	    <input type="password" ng-model="vm.password" placeholder="password" name="password" ng-minlength="8" ng-maxlength="30" required> {{vm.passwordValidation}}<br>
	    <br>
	    <button ng-click="vm.changeValidation(); userForm.$valid && vm.login(); vm.emptyErrors(); vm.clearInputs()" ng-hide="vm.isAuthed()">Login</button> 
	</form>
	<button ng-click="vm.logout()" ng-show="vm.isAuthed()">Logout</button>
</div>