<div ng-app="rockauth.login">
  <form layout="column" ng-cloak class="md-inline-form" name="userForm" ng-hide="vm.isAuthed()" novalidate ng-submit="loginform.$valid">
    <md-input-container>
      <label>Email</label>
      <input type="email" ng-model="vm.email" name="email" type="email" required> {{vm.UsernameValidation}}{{vm.emailValidation}}<br>
      <div ng-messages="userForm.email.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="email">Enter a valid email.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="vm.password" name="password" ng-minlength="8" ng-maxlength="30" required> {{vm.passwordValidation}}<br>
      <div ng-messages="userForm.password.$error">
        <div ng-message="required">This is required.</div>
	<div ng-message="minlength">Your password must be between 8 and 30 characters</div>
	<div ng-message="maxlength">Your password must be between 8 and 30 characters</div>
      </div>
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="vm.changeValidation(); userForm.$valid && vm.login(); vm.emptyErrors()" ng-hide="vm.isAuthed()">Login</md-button>
  </form>
  <md-button ng-click="vm.logout()" class="md-raised md-primary" ng-show="vm.isAuthed()">Logout</md-button>
</div>
