<div ng-app="rockauth.registration">
  <form name="userForm" ng-hide="vm.isAuthed()" novalidate ng-submit="loginform.$valid">

    <div ng-messages="userForm.email.$error" ng-show="vm.validationShow">
      <div ng-message="required">
	Please enter your email address...
      </div>
      <div ng-message="email">
	Please enter a valid email address...
      </div>
    </div>

    <div ng-messages="userForm.password.$error" ng-show="vm.validationShow">
      <div ng-message="required">Please enter your password...</div>
      <div ng-message="minlength">Password needs to be at least 8 characters</div>
      <div ng-message="maxlength">Password needs to be shorter than 30 characters</div>
    </div>
    <input type="name" ng-model="vm.firstName" placeholder="first name" name="firstName" required> {{ vm.firstNameValidation }} <br>
    <input type="name" ng-model="vm.lastName" placeholder="last name" name="lastName" required> {{ vm.lastNameValidation }} <br>
    <input type="email" ng-model="vm.email" placeholder="email" name="email" required> {{ vm.emailValidation }} <br>
    <input type="password" ng-model="vm.password" placeholder="password" name="password" ng-minlength="8" ng-maxlength="30" required> {{ vm.passwordValidation }} <br>
    <br>
    <button ng-click="vm.changeValidation(); userForm.$valid && vm.register(); vm.emptyErrors(); vm.clearInputs();">Register</button>
  </form>
  <button ng-click="vm.logout()" ng-show="vm.isAuthed()">Logout</button>
</div>
